# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# Environment files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode config
.vscode/

# Mac OS metadata
.DS_Store
